.loading-default {
    width: 200px;
    height: 200px;
    background: #ffffff;
    opacity: 0.6;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    border: 10px dashed #000000;
    animation: loading-animation 5s 1ms infinite;
}

.depth-of-focus {
    filter: blur(15px);
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }
    25% {

        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

