<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>accounts</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="general-accounts">
    <div class="container-fluid" id="main-table">
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>

                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="row-num" data-toggle="dropdown">行号
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="row-num">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">筛选</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">排序</a>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="createTime" data-toggle="dropdown">
                                记账时间
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="createTime">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">筛选</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">排序</a>
                                </li>
                            </ul>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="target" data-toggle="dropdown">单位部门
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="target">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">筛选</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">排序</a>
                                </li>
                            </ul>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="account" data-toggle="dropdown">本地账户
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="account">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">筛选</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">排序</a>
                                </li>
                            </ul>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="type" data-toggle="dropdown">类型
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="type">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">筛选</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">排序</a>
                                </li>
                            </ul>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="status" data-toggle="dropdown">状态
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="status">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">筛选</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">排序</a>
                                </li>
                            </ul>
                        </div>
                    </th>

                    <th>
                        <button type="button" class="btn dropdown-toggle" id="detail" data-toggle="dropdown">详情
                            <span class="caret"></span>
                        </button>
                    </th>

                </tr>
                </thead>

                <tbody id="accounts-body">
                    <!-- 生成表格 -->
                </tbody>

            </table>
        </div>

        <div class="row">
            <div style="float: right;margin-right: 5%;">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div style="float: right;margin-right: 10%;">

                <div class="dropdown">
                    <span>每页</span>
                    <a data-toggle="dropdown" href="#" id="page-size"></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="javascript:" onclick="page_size_change(20)">20</a></li>
                        <li><a href="javascript:" onclick="page_size_change(40)">40</a></li>
                        <li><a href="javascript:page_size_change(60)">60</a></li>
                        <li><a href="javascript:" onclick="page_size_change(80)">80</a></li>
                        <li><a href="javascript:" onclick="page_size_change(100)">100</a></li>
                    </ul>
                    <span>条数据</span>
                </div>

            </div>

        </div>

    </div>

    <script>
        const defaultPageSize = 20;
        $(window).ready(function () {
            $.post('fullyMapping', function (data) {
                localStorage.setItem('fullyMapping', JSON.stringify(data));
            }, 'json');
            // 载入记账信息，分页为默认
            refresh_accounts_data(defaultPageSize, 1);

            document.getElementById('page-size').innerText = defaultPageSize;
            show_accounts_data();
        });

        // 切换每页显示条数
        function page_size_change(ps) {
            sessionStorage.setItem('pageSize', ps);
            refresh_accounts_data(ps, 1);
            document.getElementById('page-size').innerText = ps;
        }

        // 刷新记账信息
        function refresh_accounts_data(pageSize, pageNum) {
            var data_url = 'accountsData?pageSize=' + pageSize.toString() + '?pageNum=' + pageNum.toString();
            $.post(data_url, function (data) {
                localStorage.setItem('accountsData', JSON.stringify(data));
            }, 'json');
            data_url = 'accountsNum';
            $.post(data_url, function (data) {
                localStorage.setItem('accountsNum', data);
            })
        }

        // 显示记账表
        function show_accounts_data() {
            const accountsData = JSON.parse(localStorage.getItem('accountsData'));
            var count = 1;
            for (const data in accountsData) {
                var row = document.createElement("tr");
                var rowNum = document.createElement("td");
                var createTime = document.createElement("td");
                var target = document.createElement("td");
                var account = document.createElement("td");
                var type = document.createElement("td");
                var status = document.createElement("td");
                var detail = document.createElement("td");

                rowNum.innerHTML = count.toString();
                createTime.innerHTML = data.get('createTime');
                target.innerHTML = data.get('targetId');
                account.innerHTML = data.get('accountId');
                type.innerHTML = data.get('typeId');
                status.innerHTML = data.get('statusId');
                detail.innerHTML = '<a id="'+data.get('id')+'" href="#">详情</a>';

                var accountsBody = document.getElementById("accounts-body");
                row.appendChild(rowNum);
                row.appendChild(createTime);
                row.appendChild(target);
                row.appendChild(account);
                row.appendChild(type);
                row.appendChild(status);
                row.appendChild(detail);
                accountsBody.appendChild(row);

                count++;
            }
        }

        // 鼠标移到详情上显示详情
        function show_details(id) {

        }


    </script>

</div>
</body>
</html>