<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>accounts</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="general-accounts">
    <div class="container-fluid" id="main-table">


        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <button type="button" class="btn dropdown-toggle" id="row-num" data-toggle="dropdown">
                            行号
                            <span class="caret"></span>
                        </button>
                    </th>
                    <th>
                        <div class="dropdown" style="position: relative; right: 5px">
                            <button type="button" class="btn dropdown-toggle" id="createTime" data-toggle="dropdown"
                                    ondblclick="order_by('create_time')">
                                记账时间
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="createTime">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">筛选</a>
                                </li>
                            </ul>
                            <span id="create_time_order_icon_desc" class="glyphicon glyphicon-chevron-down"
                                  style="display: none"></span>
                            <span id="create_time_order_icon" class="glyphicon glyphicon-chevron-up"
                                  style="display: none"></span>
                            <span id="create_time_filter_icon" class="glyphicon glyphicon-filter"
                                  style="display: none"></span>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown" style="position: relative; right: 5px">
                            <button type="button" class="btn dropdown-toggle" id="checkTime" data-toggle="dropdown"
                                    ondblclick="order_by('check_time')">
                                过账时间
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="checkTime">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">筛选</a>
                                </li>
                            </ul>
                            <span id="check_time_order_icon_desc" class="glyphicon glyphicon-chevron-down"
                                  style="display: none"></span>
                            <span id="check_time_order_icon" class="glyphicon glyphicon-chevron-up"
                                  style="display: none"></span>
                            <span id="check_time_filter_icon" class="glyphicon glyphicon-filter"
                                  style="display: none"></span>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown" style="position: relative; right: 5px">
                            <button type="button" class="btn dropdown-toggle" id="target" data-toggle="dropdown"
                                    ondblclick="order_by('target_id')">
                                单位部门
                                <span class="caret"></span>
                            </button>
                            <ul id="target_id_options" class="dropdown-menu" role="menu" aria-labelledby="target">

                            </ul>
                            <span id="target_id_order_icon_desc" class="glyphicon glyphicon-chevron-down"
                                  style="display: none"></span>
                            <span id="target_id_order_icon" class="glyphicon glyphicon-chevron-up"
                                  style="display: none"></span>
                            <span id="target_id_filter_icon" class="glyphicon glyphicon-filter"
                                  style="display: none"></span>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown" style="position: relative; right: 5px">
                            <button type="button" class="btn dropdown-toggle" id="value" data-toggle="dropdown"
                                    ondblclick="order_by('account_id')">
                                本地账户
                                <span class="caret"></span>
                            </button>
                            <ul id="account_id_options" class="dropdown-menu" role="menu" aria-labelledby="value">

                            </ul>
                            <span id="account_id_order_icon_desc" class="glyphicon glyphicon-chevron-down"
                                  style="display: none"></span>
                            <span id="account_id_order_icon" class="glyphicon glyphicon-chevron-up"
                                  style="display: none"></span>
                            <span id="account_id_filter_icon" class="glyphicon glyphicon-filter"
                                  style="display: none"></span>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown" style="position: relative; right: 5px">
                            <button type="button" class="btn dropdown-toggle" id="account" data-toggle="dropdown">
                                金额
                            </button>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown" style="position: relative; right: 5px">
                            <button type="button" class="btn dropdown-toggle" id="type" data-toggle="dropdown"
                                    ondblclick="order_by('type_id')">
                                类型
                                <span class="caret"></span>
                            </button>
                            <ul id="type_id_options" class="dropdown-menu" role="menu" aria-labelledby="type">

                            </ul>
                            <span id="type_id_order_icon_desc" class="glyphicon glyphicon-chevron-down"
                                  style="display: none"></span>
                            <span id="type_id_order_icon" class="glyphicon glyphicon-chevron-up"
                                  style="display: none"></span>
                            <span id="type_id_filter_icon" class="glyphicon glyphicon-filter"
                                  style="display: none"></span>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown" style="position: relative; right: 5px">
                            <button type="button" class="btn dropdown-toggle" id="status" data-toggle="dropdown"
                                    ondblclick="order_by('status_id')">
                                状态
                                <span class="caret"></span>
                            </button>
                            <ul id="status_id_options" class="dropdown-menu" role="menu" aria-labelledby="status">

                            </ul>
                            <span id="status_id_order_icon_desc" class="glyphicon glyphicon-chevron-down"
                                  style="display: none"></span>
                            <span id="status_id_order_icon" class="glyphicon glyphicon-chevron-up"
                                  style="display: none"></span>
                            <span id="status_id_filter_icon" class="glyphicon glyphicon-filter"
                                  style="display: none"></span>
                        </div>
                    </th>

                    <th>
                        <button type="button" class="btn" id="detail" style="position: relative; right: 5px">
                            备注
                        </button>
                    </th>

                    <th>
                        <button type="button" class="btn" id="action" style="position: relative; left: 5px">
                            操作
                        </button>
                    </th>

                </tr>
                </thead>

                <tbody id="accounts-body">
                <!-- 生成表格 -->
                </tbody>

            </table>
        </div>

        <div>
            <div>
                <ul class="pagination" id="page_group">

                </ul>
            </div>
            <div style="margin-left: 20px">
                <div class="dropdown">
                    <span>每页</span>
                    <a data-toggle="dropdown" href="#" id="page-size">20</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="javascript:" onclick="page_size_change(20)">20</a></li>
                        <li><a href="javascript:" onclick="page_size_change(40)">40</a></li>
                        <li><a href="javascript:" onclick="page_size_change(60)">60</a></li>
                        <li><a href="javascript:" onclick="page_size_change(80)">80</a></li>
                        <li><a href="javascript:" onclick="page_size_change(100)">100</a></li>
                    </ul>
                    <span>条数据，共</span><span id="total_pages" style="font-weight: bolder"></span><span>页。</span>
                </div>
            </div>

        </div>

    </div>

    <script>
        const defaultPageSize = 20;
        const defaultPageGroupNum = 8;
        const defaultOrderBy = 'create_time';

        sessionStorage.setItem('orderBy', defaultOrderBy);


        sessionStorage.setItem('conditions', JSON.stringify({}));


        sessionStorage.setItem('orderByDesc', 'true');

        $(window).ready(function () {
            refresh_mapping(function () {
                if (sessionStorage.getItem('pageSize') == null) {
                    sessionStorage.setItem('pageSize', defaultPageSize);
                    document.getElementById('page-size').innerHTML = defaultPageSize;
                    refresh_accounts_data(defaultPageSize, 1, function () {
                        page_group_next(0, sessionStorage.getItem('totalPages'));
                    });
                } else {
                    document.getElementById('page-size').innerHTML = sessionStorage.getItem('pageSize');
                    refresh_accounts_data(sessionStorage.getItem('pageSize'), 1, function () {
                        page_group_next(0, sessionStorage.getItem('totalPages'));
                    });
                }
            });
        });

        function log(msg) {
            console.log(msg);
        }


        // ======================== 分页以及数据显示功能 ======================== //
        // 切换每页显示条数
        function page_size_change(ps) {
            sessionStorage.setItem('pageSize', ps);
            // 使用回调函数来同步
            refresh_accounts_data(ps, 1, function () {
                page_group_next(0, sessionStorage.getItem('totalPages'));
            });
            document.getElementById('page-size').innerText = ps;
        }

        //页码选择
        function page_num_change(pn) {
            var ps = sessionStorage.getItem('pageSize');
            refresh_accounts_data(ps, pn);
            document.getElementsByClassName("active").item(0).classList.remove("active");
            document.getElementById("page_" + pn.toString()).classList.add("active");
        }

        function page_num_change2(pn) {
            var ps = sessionStorage.getItem('pageSize');
            // refresh_accounts_data(ps, pn);
            document.getElementById("page_" + pn.toString()).classList.add("active");
        }

        // 向前滑动页面分组
        function page_group_previous(start) {
            page_group_generate(start - defaultPageGroupNum, start - 1);
        }

        // 向后滑动页面分组
        function page_group_next(end, totalPages) {
            log('page_group_next( ' + end + ' ,  ' + totalPages + ' )');
            if ((end + 8) <= totalPages) {
                page_group_generate(parseInt(end) + 1, parseInt(end) + defaultPageGroupNum);
            } else {
                page_group_generate(parseInt(end) + 1, totalPages);
            }
        }

        // 生成分页切换组
        function page_group_generate(start, end) {
            log('page_group_generate ( ' + start + ' ,  ' + end + ' )');
            var totalPages = sessionStorage.getItem('totalPages');
            var pageGroup = document.getElementById("page_group");
            // 先将原先的分页清空
            pageGroup.innerHTML = "";
            if (parseInt(start) > 1) {
                var previous = document.createElement("li");
                previous.innerHTML = '<a href="javascript:page_group_previous(' + start + ')">&laquo;</a>';
                pageGroup.appendChild(previous);
            }
            for (i = start; i <= end; i++) {
                var page = document.createElement("li");
                page.classList.add("page_num");
                page.id = 'page_' + i.toString();
                page.innerHTML = '<a href="javascript:page_num_change(' + i.toString() + ')">' + i.toString() + '</a>';
                pageGroup.appendChild(page);
                log('generated: page_' + i);
            }
            if (end < parseInt(totalPages)) {
                var next = document.createElement("li");
                next.innerHTML = '<a href="javascript:page_group_next(' + end + ',' + totalPages + ')">&raquo;</a>';
                pageGroup.appendChild(next);
            }
            log('prepare to call page_num_change ...');
            page_num_change2(start);
        }

        // 刷新记账信息
        // 将数据和数据条数写入sessionStorage
        function refresh_accounts_data(pageSize, pageNum, f = function () {
        }, params = {
            'conditions': sessionStorage.getItem('conditions'),
            'orderBy': sessionStorage.getItem('orderBy')
        }) {
            sessionStorage.setItem('pageNum', pageNum);
            var data_url = 'accountsData';
            log('refresh_accounts_data--params: ' + params['conditions']);
            params['pageSize'] = pageSize;
            params['pageNum'] = pageNum;
            $.post(data_url, params, function (data) {
                if (data.status === '200') {
                    sessionStorage.setItem('accountsNum', data.num);
                    sessionStorage.setItem('accountsData', JSON.stringify(data.data));
                    show_accounts_data(f);
                } else {
                    alert('获取数据失败');
                }
            }, 'json');
        }

        // 显示记账表
        function show_accounts_data(callback = function () {
        }) {
            var mapping = JSON.parse(sessionStorage.getItem('fullyMapping'));
            var accountsData = JSON.parse(sessionStorage.getItem('accountsData'));
            var accountsBody = document.getElementById("accounts-body");
            accountsBody.innerHTML = "";
            var count = 1;
            accountsData.forEach(function (item, index, array) {
                var row = document.createElement("tr");
                var rowNum = document.createElement("td");
                var createTime = document.createElement("td");
                var value = document.createElement("td");
                var target = document.createElement("td");
                var account = document.createElement("td");
                var type = document.createElement("td");
                var status = document.createElement("td");
                var detail = document.createElement("td");
                var checkTime = document.createElement("td");
                var action = document.createElement("td");

                rowNum.innerHTML = count.toString();
                createTime.innerHTML = item.createTime;
                value.innerHTML = item.value;
                target.innerHTML = mapping['accounts_target'][item.targetId]['target_name'];
                account.innerHTML = mapping['accounts_account'][item.accountId]['account_name'];
                type.innerHTML = mapping['accounts_type'][item.typeId]['type_name'];
                status.innerHTML = mapping['accounts_status'][item.statusId]['status_name'];
                checkTime.innerHTML = item.checkTime;
                detail.innerHTML = '<a id="id_' + item.id + '" href="#" ' +
                    'data-toggle="popover" title="备注" data-trigger="hover" data-placement="bottom"' +
                    'data-html="true" data-content="<b>' + item.note + '</b>">备注</a>';
                action.innerHTML = '<span><a href="javascript:check_record(' + item.id + ',' + count + ')">过账</a></span>' +
                    '<span>  </span><span><a href="javascript:delete_record(' + item.id + ',' + count + ')">删除</a></span>';

                row.appendChild(rowNum);
                row.appendChild(createTime);
                row.appendChild(checkTime);
                row.appendChild(target);
                row.appendChild(account);
                row.appendChild(value);
                row.appendChild(type);
                row.appendChild(status);
                row.appendChild(detail);
                row.appendChild(action);
                accountsBody.appendChild(row);

                count++;
            });
            log('calculate: totalPages = ' + sessionStorage.getItem("accountsNum") + '/' + sessionStorage.getItem("pageSize") + '+1');
            var totalPages = parseInt(sessionStorage.getItem("accountsNum") / sessionStorage.getItem("pageSize")) + 1;
            log('prepare to insert into sessionStorage: totalPages = ' + totalPages);
            sessionStorage.setItem('totalPages', totalPages);
            document.getElementById("total_pages").innerHTML = totalPages;
            // 回调函数
            callback();
            log('jquery func');
            $("[data-toggle='popover']").popover();
        }

        // 删除记录
        function delete_record(id, num) {
            alert('确定要删除第 ' + num + ' 行数据？');
            var params = {'id': id};
            $.post('deleteAccountsRecord', params, function (data) {
                if (data === '200') {
                    alert('删除成功');
                    page_num_change(sessionStorage.getItem('pageNum'));
                } else {
                    alert('删除失败，错误码：' + data.status);
                }
            });
        }

        // 过账
        function check_record(id, num) {
            alert('确定要将第 ' + num + ' 行过账？');
            var params = {'id': id};
            $.post('checkAccountsRecord', params, function (data) {
                if (data === '200') {
                    alert('过账成功');
                    page_num_change(sessionStorage.getItem('pageNum'));
                } else {
                    alert('过账失败，错误码：' + data.status);
                }
            });
        }

        // ========================= 映射 ========================= //
        function refresh_mapping(callback = function () {
        }) {
            var mapping = {};
            $.post('fullyMapping', function (data) {
                if (data.status === '200') {
                    var res = {};
                    $.each(data.data, function (key, value) {
                        var temp = {};
                        // log('key: ' + key);
                        if (key.indexOf("proto") !== -1 || key.indexOf("length") !== -1) {
                            return true;
                        }
                        $.each(value, function (key, item) {
                            // log('item key: ' + key);
                            // log('item: ' + item);
                            if (typeof key !== typeof 1) {
                                return true;
                            }
                            $.each(item, function (key, value) {
                                // log('inside-key: ' + key);
                                if (key.indexOf("proto") !== -1 || key.indexOf("length") !== -1) {
                                    return true;
                                }
                                if (key.indexOf("id") !== -1 || key.indexOf("code") !== -1) {
                                    temp[value] = item;
                                    return false;
                                }
                            })
                        });
                        res[key] = temp;
                    });
                    sessionStorage.setItem('fullyMapping', JSON.stringify(res));
                    remove_all_filter_icon();
                    filter_options_generate(res);

                    callback();
                } else {
                    alert('获取总账映射失败');
                }
            }, 'json');
        }

        // ==================================== 筛选 ==================================== //
        function refresh_conditions_data(conditions) {
            var params = {};
            params['conditions'] = JSON.stringify(conditions);
            params['orderBy'] = sessionStorage.getItem('orderBy');
            refresh_accounts_data(sessionStorage.getItem('pageSize'), sessionStorage.getItem('pageNum'), function () {
                page_group_next(0, sessionStorage.getItem('totalPages'));
            }, params);
        }

        function add_filter(condition_key, condition_value) {
            var conditions = JSON.parse(sessionStorage.getItem('conditions'));
            conditions[condition_key] = condition_value;
            sessionStorage.setItem('conditions', JSON.stringify(conditions));
            log('conditions changed: ' + conditions);
            refresh_conditions_data(conditions);
        }

        function remove_filter(condition_key) {
            var conditions = JSON.parse(sessionStorage.getItem('conditions'));
            delete conditions[condition_key];
            sessionStorage.setItem('conditions', JSON.stringify(conditions));
            log('conditions changed: ' + conditions);
            refresh_conditions_data(conditions);
        }

        /**
         * 添加或删除筛选图标
         * @param filter
         * @param flag 是否增删，增加true，删除false
         * @param value
         */
        function filter_action(filter, flag, value) {
            sessionStorage.setItem('pageNum', '1');
            var icon_id = filter + '_filter_icon';
            var option_icon_id = filter + '_' + value + '_icon';
            var option_id = filter + '_' + value;
            var current_conditions = JSON.parse(sessionStorage.getItem('conditions'));
            if (flag) {
                if (current_conditions.hasOwnProperty(filter)) {
                    var current_value = current_conditions[filter].substring(1, current_conditions[filter].length);
                    log('already exists filter: ' + current_value);
                    $('#' + filter + '_' + current_value + '_icon').css('display', 'none');
                    $('#' + filter + '_' + current_value).attr('onclick', 'filter_action("' + filter + '", true, ' + current_value + ')');
                }
                $('#' + icon_id).css('display', 'inline');
                $('#' + option_icon_id).css('display', 'inline');
                add_filter(filter, '=' + value);
                $('#' + option_id).attr('onclick', 'filter_action("' + filter + '", false, ' + value + ')');
            } else {
                $('#' + icon_id).css('display', 'none');
                $('#' + option_icon_id).css('display', 'none');
                remove_filter(filter);
                $('#' + option_id).attr('onclick', 'filter_action("' + filter + '", true, ' + value + ')');
            }

        }

        function remove_all_filter_icon() {
            $(".glyphicon-filter").css('display', 'none');
        }

        function filter_options_generate(mapping) {
            $("#status_id_options").html("");
            $("#target_id_options").html("");
            $("#way_id_options").html("");
            $("#type_id_options").html("");
            $("#account_id_options").html("");

            log('----- filter_options_generate () -----');
            $.each(mapping['accounts_status'], function (key, value) {
                log('generate option: ' + key + ', ' + value['status_name']);
                $("#status_id_options").append("<li role=\"presentation\"><a id=\"" + "status_id_" + key + "\" role=\"menuitem\" onclick='filter_action(\"status_id\", true, " + key + ")'>" + value['status_name'] + "<span id=\"status_id_" + key + "_icon" + "\" class='glyphicon glyphicon-ok' style='display:none;'></span></a></li>")
            });
            $.each(mapping['accounts_target'], function (key, value) {
                $("#target_id_options").append("<li role=\"presentation\"><a id=\"" + "target_id_" + key + "\" role=\"menuitem\" onclick='filter_action(\"target_id\", true, " + key + ")'>" + value['target_name'] + "<span id=\"target_id_" + key + "_icon" + "\" class='glyphicon glyphicon-ok' style='display:none;'></span></a></li>")
            });
            $.each(mapping['accounts_way'], function (key, value) {
                $("#way_id_options").append("<li role=\"presentation\"><a id=\"" + "way_id_" + key + "\" role=\"menuitem\" onclick='filter_action(\"way_id\", true, " + key + ")'>" + value['way_name'] + "<span id=\"way_id_" + key + "_icon" + "\" class='glyphicon glyphicon-ok' style='display:none;'></span></a></li>")
            });
            $.each(mapping['accounts_type'], function (key, value) {
                $("#type_id_options").append("<li role=\"presentation\"><a id=\"" + "type_id_" + key + "\" role=\"menuitem\" onclick='filter_action(\"type_id\", true, " + key + ")'>" + value['type_name'] + "<span id=\"type_id_" + key + "_icon" + "\" class='glyphicon glyphicon-ok' style='display:none;'></span></a></li>")
            });
            $.each(mapping['accounts_account'], function (key, value) {
                $("#account_id_options").append("<li role=\"presentation\"><a id=\"" + "account_id_" + key + "\" role=\"menuitem\" onclick='filter_action(\"account_id\", true, " + key + ")'>" + value['account_name'] + "<span id=\"account_id_" + key + "_icon" + "\" class='glyphicon glyphicon-ok' style='display:none;'></span></a></li>")
            });
        }

        // ==================================== 排序 ==================================== //
        function show_order_icon(orderBy, desc) {
            log('show_order_icon (' + orderBy + ', ' + desc + ')');
            $(".glyphicon-chevron-down").css('display', 'none');
            $(".glyphicon-chevron-up").css('display', 'none');
            var id_desc = orderBy + '_order_icon_desc';
            var id = orderBy + '_order_icon';
            if (desc) {
                $("#" + id_desc).css('display', 'inline');
            } else {
                $("#" + id).css('display', 'inline');
            }
        }

        function refresh_order_data(orderBy) {
            var params = {};
            params['orderBy'] = orderBy;
            params['conditions'] = sessionStorage.getItem('conditions');
            refresh_accounts_data(sessionStorage.getItem('pageSize'), sessionStorage.getItem('pageNum'), function () {
                page_group_next(0, sessionStorage.getItem('totalPages'));
            }, params)
        }

        function order_by(orderBy) {
            var desc = ' desc';
            sessionStorage.setItem('orderBy', orderBy);
            var current_order_by = sessionStorage.getItem('orderBy');
            var current_desc = eval(sessionStorage.getItem('orderByDesc'));
            if (current_order_by === orderBy) {
                if (current_desc) {
                    log('the same order_by: ' + current_order_by + ', desc: ' + current_desc);
                    desc = '';
                    sessionStorage.setItem('orderByDesc', 'false');
                } else {
                    sessionStorage.setItem('orderByDesc', 'true');
                }
                current_desc = !current_desc;
            } else {
                log('the different order_by: ' + current_order_by + ', desc: ' + current_desc);
                sessionStorage.setItem('orderByDesc', 'true');
                current_desc = true;
            }
            refresh_order_data(orderBy + desc);
            show_order_icon(orderBy, current_desc);
        }


    </script>

</div>
</body>
</html>