<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>actionwatch</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/elements.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
<div th:fragment="actionWatch">

    <div class="container-fluid" id="main-table">

        <button type="button" onclick="refresh_employee_infos(function() {
          employeeInfo.$data.employeeChange = !employeeInfo.$data.employeeChange;
        })">LOAD
        </button>

        <div class="row">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <div class="dropdown" style="position: relative; right: 5px">
                            <button type="button" class="btn dropdown-toggle" id="rowNum">
                                行号
                            </button>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="actOper" data-toggle="dropdown"
                                    ondblclick="">
                                操作员<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="actOper">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#"></a>
                                </li>
                            </ul>
                            <span id="actOper_Icon"
                                  v-bind:class="{'glyphicon': status==='none', 'glyphicon-chevron-down': status==='down', 'glyphicon-chevron-up': status==='up', 'glyphicon-filter': status==='filter'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="actDate" data-toggle="dropdown"
                                    ondblclick="">
                                操作时间<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="actDate">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#"></a>
                                </li>
                            </ul>
                            <span id="actDate_Icon"
                                  v-bind:class="{'glyphicon': status==='none', 'glyphicon-chevron-down': status==='down', 'glyphicon-chevron-up': status==='up', 'glyphicon-filter': status==='filter'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="funName" data-toggle="dropdown"
                                    ondblclick="">
                                单据类型<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="funName">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#"></a>
                                </li>
                            </ul>
                            <span id="funName_Icon"
                                  v-bind:class="{'glyphicon': status==='none', 'glyphicon-chevron-down': status==='down', 'glyphicon-chevron-up': status==='up', 'glyphicon-filter': status==='filter'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="actName" data-toggle="dropdown"
                                    ondblclick="">
                                操作<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="actName">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#"></a>
                                </li>
                            </ul>
                            <span id="actName_Icon"
                                  v-bind:class="{'glyphicon': status==='none', 'glyphicon-chevron-down': status==='down', 'glyphicon-chevron-up': status==='up', 'glyphicon-filter': status==='filter'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="comName" data-toggle="dropdown"
                                    ondblclick="">
                                计算机名<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="comName">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#"></a>
                                </li>
                            </ul>
                            <span id="comName_Icon"
                                  v-bind:class="{'glyphicon': status==='none', 'glyphicon-chevron-down': status==='down', 'glyphicon-chevron-up': status==='up', 'glyphicon-filter': status==='filter'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="actorIp" data-toggle="dropdown"
                                    ondblclick="">
                                IP地址<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="actorIp">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#"></a>
                                </li>
                            </ul>
                            <span id="actorIp_Icon"
                                  v-bind:class="{'glyphicon': status==='none', 'glyphicon-chevron-down': status==='down', 'glyphicon-chevron-up': status==='up', 'glyphicon-filter': status==='filter'}"></span>
                        </div>
                    </th>
                </tr>
                </thead>

                <tbody id="actionWatchInfos">
                <tr v-for="info in actionWatchInfos">
                    <td>{{ info.rowNum }}</td>
                    <td>{{ info.actOper }}</td>
                    <td>{{ info.actDate }}</td>
                    <td>{{ info.funName }}</td>
                    <td>{{ info.actName }}</td>
                    <td>{{ info.comName }}</td>
                    <td>{{ info.actorIp }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row" style="margin-bottom: 150px">
            <div id="pageSizeTable">

                <div>
                    <ul class="pagination" v-for="page in pagination">
                        <li v-if="page.type===0">
                            <a href="#" @click="pageGroupChange(page.action)">&laquo;</a>
                        </li>
                        <li v-else-if="page.type===1">
                            <a href="#" @click="pageNumChange(page.pageNum)" v-bind:class="{'active': pageNum===page.pageNum}">
                                {{ page.pageNum }}</a>
                        </li>
                        <li v-else="page.type===2">
                            <a href="#" @click="pageGroupChange(page.action)">&raquo;</a>
                        </li>
                    </ul>
                </div>

                <div style="margin-left: 20px">
                    <div class="dropdown">
                        <span>每页</span>
                        <a data-toggle="dropdown" href="#" id="pageSize">{{ pageSize }}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="javascript:" @click="pageSize = 20">20</a></li>
                            <li><a href="javascript:" @click="pageSize = 40">40</a></li>
                            <li><a href="javascript:" @click="pageSize = 60">60</a></li>
                            <li><a href="javascript:" @click="pageSize = 80">80</a></li>
                            <li><a href="javascript:" @click="pageSize = 100">100</a></li>
                        </ul>
                        <span>条数据，共</span><span
                            style="font-weight: bolder">{{ Math.ceil(totalDataNum / pageSize) }}</span><span>页。</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- loading -->
    <div class="loading-default" id="loading"></div>

    <script>
        const pageGroupSize=10;
        $(window).ready(function () {
            refreshActionInfos();
        });
        //===================================== Vue对象 =======================================//
        var actOper_Icon = new Vue({el: '#actOper_Icon', data: {status: 'none'}});
        var actDate_Icon = new Vue({el: '#actDate_Icon', data: {status: 'none'}});
        var funName_Icon = new Vue({el: '#funName_Icon', data: {status: 'none'}});
        var actName_Icon = new Vue({el: '#actName_Icon', data: {status: 'none'}});
        var comName_Icon = new Vue({el: '#comName_Icon', data: {status: 'none'}});
        var actorIp_Icon = new Vue({el: '#actorIp_Icon', data: {status: 'none'}});
        var pageSizeTable = new Vue({
            el: '#pageSizeTable',
            data: {
                totalDataNum: sessionStorage.getItem('totalDataNum') === null ? 20 : sessionStorage.getItem('totalDataNum'),
                pageSize: sessionStorage.getItem('pageSize') === null ? 20 : sessionStorage.getItem('pageSize'),
                pageNum: 1,
                pagination: [
                    {pageNum: '<-', type: 0, action: ''},
                    {pageNum: '-', type: 1, action: ''},
                    {pageNum: '->', type: 2, action: ''}
                ]
            },
            methods: {
                pageGroupChange: function (action) {
                    refreshActionInfos({pageNum: action})
                },
                pageNumChange: function (pageNum) {
                    refreshActionInfos({pageNum: pageNum}, function (params) {
                        pageSizeTable.$data.pageNum = params['pageNum'];
                    })
                }
            }
        });
        var actionWatchInfos = new Vue({
            el: '#actionWatchInfos',
            data: {
                actionWatchChange: false,
                actionWatchInfos: [
                    {
                        rowNum: '--',
                        actOper: '--',
                        actDate: '--',
                        funName: '--',
                        actName: '--',
                        comName: '--',
                        actorIp: '--'
                    }
                ]
            }
        });
        //===================================== 事件驱动 =======================================//
        actionWatchInfos.$watch('actionWatchChange', function (nval, oval) {
            actionWatchInfos.$data.actionWatchInfos = [];
            var infos = JSON.parse(sessionStorage.getItem('actionWatchInfos'));
            for (var i = 0; i < infos.length; i++) {
                actionWatchInfos.$data.actionWatchInfos.push({
                    rowNum: infos[i].id,
                    actOper: infos[i]['actOper'.toLowerCase()],
                    actDate: infos[i]['actDate'.toLowerCase()],
                    funName: infos[i]['funName'.toLowerCase()],
                    actName: infos[i]['actName'.toLowerCase()],
                    comName: infos[i]['comName'.toLowerCase()],
                    actorIp: infos[i]['actorIp'.toLowerCase()]
                });
            }
        });
        pageSizeTable.$watch('pageSize', function () {
            refreshActionInfos({'pageSize': pageSizeTable.$data.pageSize});
        });
        pageSizeTable.$watch('pageNum', function () {

        });

        //===================================== 函数 =======================================//
        function loading(isLoading) {
            if (isLoading) {
                $("#loading").css('display', 'inline');
                $('#main-table').addClass("depth-of-focus");
            } else {
                $("#loading").css('display', 'none');
                $('#main-table').removeClass("depth-of-focus");
            }
        }

        function actionWatchInfosChange(params, action = calculatePageGroup) {
            actionWatchInfos.$data.actionWatchChange = !actionWatchInfos.$data.actionWatchChange;
            pageSizeTable.$data.totalDataNum = params['totalDataNum'];
            action(params);
        }

        function refreshActionInfos(params, action = calculatePageGroup, callback = function () {
        }) {
            var postParams = {
                'pageSize': sessionStorage.getItem('pageSize'),
                'orderBy': sessionStorage.getItem('orderBy'),
                'pageNum': 1,
                'conditions': JSON.parse(sessionStorage.getItem('conditions'))
            };
            $.each(params, function (key, value) {
                postParams[key] = value;
                sessionStorage.setItem(key, value);
            });
            loading(true);
            $.post('/actionWatchInfos', postParams, function (res) {
                if (res.status === '200') {
                    sessionStorage.setItem('actionWatchInfos', JSON.stringify(res['data']));
                    sessionStorage.setItem('totalDataNum', res['totalDataNum']);
                    actionWatchInfosChange({
                        totalDataNum: res['totalDataNum'],
                        pageSize: postParams['pageSize'],
                        pageNum: postParams['pageNum'],
                        totalPageNum: Math.ceil(parseInt(res['totalDataNum'])/parseInt(postParams['pageSize']))
                    }, action);
                    loading(false);
                } else {
                    loading(false);
                    errHandler('信息获取失败');
                }
            }, 'json');

            callback();
        }

        function calculatePageGroup(params, callback = function () {
        }) {
            let hasPre = false;
            let hasNext = false;
            if (pageGroupSize < params['pageNum']) {
                hasPre = true;
            }
            if (Math.ceil(params['totalPageNum'] / pageGroupSize) !== Math.ceil(params['pageNum'] / pageGroupSize)) {
                hasNext = true;
            }
            const start = Math.floor(params['pageNum'] / pageGroupSize) * pageGroupSize + 1;
            const end = hasNext ? (start + pageGroupSize - 1) : params['totalPageNum'];
            let pagination = [];
            hasPre ? pagination.push({pageNum: 0, type: 0, action: start - pageGroupSize}) : 0;
            for (let i = start; i <= end; i++) {
                pagination.push({pageNum: i, type: 1, action: ''});
            }
            console.log('start: ', start);
            console.log('end: ', end);
            console.log('params: ', params);
            hasNext ? pagination.push({pageNum: 0, type: 2, action: start + pageGroupSize}) : 0;
            pageSizeTable.$data.pageNum = start;
            pageSizeTable.$data.pagination = pagination;
        }


        //===================================== 异常处理 =======================================//
        function errHandler(msg, callback = function () {
        }) {
            alert(msg);
            callback(msg);
        }

    </script>

</div>
</body>
</html>