<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/elements.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
</head>
<body>

<div th:fragment="dataview">

<!--    左侧      -->
    <div class="col-md-2" style="border: solid">
        123
    </div>

<!--    右侧      -->
    <div class="col-md-10" style="border: solid">
        123
        <div>

        </div>

        <div>

        </div>

    </div>

</div>

</body>
</html>