<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/elements.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
</head>
<body style="padding-top: 50px; padding-bottom: 50px">
<div id="navbar" th:replace="navbar::navbar"></div>
<!--<div id="body" th:replace="accounts::general-accounts"></div>-->
<div id="body" th:replace="${page}::${content}"></div>

</body>
</html>