<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导航条</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inner" role="navigation"
         style="border-top: 2px solid #761c19; border-bottom: 3px solid #761c19">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: #761c19; font-weight: bold; font-size: xx-large">ARK </a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--/*@thymesVar id="userName" type="java.lang.String"*/-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" th:switch="${userName}">

                <!-- 登录状态 -->
                <div class="nav navbar-nav navbar-left" th:case="null" style="width: 200px">
                    <p class="navbar-text" th:text="'未登录 '"></p>
                    <a href="/tologin">
                        <button type="button" class="btn navbar-btn">登录</button>
                    </a>
                </div>
                <div class="nav navbar-nav navbar-left" th:case="*" style="width: 200px">
                    <p class="navbar-text" th:text="'当前用户：' + ${userName} "></p>
                    <button type="button" class="btn navbar-btn">注销</button>
                </div>

                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">账目管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/main?page=accounts&content=general-accounts">账目列表</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">进货管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:changeContentPage('dataView', 'dataView')">数据分析</a></li>
                            <li><a href="javascript:changeContentPage('order', 'general-order')">订单列表</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">监控 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:changeContentPage('orderDrafts', 'orderDrafts')">实时销售草稿</a></li>
                            <li><a href="javascript:changeContentPage('actionWatch', 'actionWatch')">操作日志</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="nav navbar-nav navbar-left">
                    <p class="navbar-text">
                        当前页面:
                        <span id="currentPage"></span>
                    </p>
                </div>

                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <script th:inline="javascript">

        let pageMap = {
            'orderDrafts': '实时订单',
            'actionWatch': '操作日志'
        };

        $(window).ready(function () {
            var currentPage = [[${param.content}]];
            $("#currentPage").html(pageMap[currentPage[0]]);
        });

        $("#test-btn").click(function () {
            $.post('/json', {}, function (data) {
                alert(data.totalNum)
            }, 'json')
        });

        function changeContentPage(page, content) {
            sessionStorage.clear();
            window.location.href = '/main?page=' + page + '&content=' + content;
        }
    </script>
</div>
</body>
</html>